<div class="bg-[#fff9f0] max-w-sm mx-auto rounded-xl overflow-hidden border-2 border-[#f5c542] shadow-xl mt-10 flex items-center p-4 font-family-karla">
  
  <!-- Profile Image Section -->
  <div class="flex-shrink-0">
    <img class="w-20 h-20 rounded-full border-4 border-[#f5c542]" src="static/image/akun.png" alt="Profile Image">
  </div>

  <!-- Profile Information Section -->
  <div class="text-left flex flex-col justify-center ml-4 space-y-2">
    
    <!-- Name Section -->
    <div>
      <h5 class="text-lg font-bold text-[#4a4a4a]">Name</h5>
      <div class="flex items-center text-xs text-[#4a4a4a]">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm-.732-7.732A4 4 0 1114 6.732a4 4 0 01-4.732 5.536z" clip-rule="evenodd" />
        </svg>
        <span class="ml-1">{{ name }}</span>
      </div>
    </div>
    
    <!-- Class Section -->
    <div>
      <h5 class="text-lg font-bold text-[#4a4a4a]">Class</h5>
      <div class="flex items-center text-xs text-[#4a4a4a]">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm-.732-7.732A4 4 0 1114 6.732a4 4 0 01-4.732 5.536z" clip-rule="evenodd" />
        </svg>
        <span class="ml-1">{{ class }}</span>
      </div>
    </div>

    <!-- NPM Section -->
    <div>
      <h5 class="text-lg font-bold text-[#4a4a4a]">NPM</h5>
      <div class="flex items-center text-xs text-[#4a4a4a]">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm-.732-7.732A4 4 0 1114 6.732a4 4 0 01-4.732 5.536z" clip-rule="evenodd" />
        </svg>
        <span class="ml-1">{{ npm }}</span> <!-- Replace npm with the actual variable -->
      </div>
    </div>

  </div>
</div>
