{% extends 'base.html' %}
{% block content %}
<h1>Ice Creamy</h1>

<h5>Application: </h5>
<p>{{ application }}</p> 
<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

{% if not products %}
<p>Sorry, there is no product available on Ice Creamy</p>
{% else %}
<table>
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Stock</th>
    <th>Rating</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
    {% endcomment %} 
    {% for product in products %}
    <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.stock}}</td>
    <td>{{product.rating}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
    <button>Add New Product</button>
</a>
{% endblock content %}