{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Ice Creamy</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden pb-8 pt-24 min-h-screen bg-white flex flex-col font-family-karla items-center">

  <!-- Welcome Section -->
  <div class="w-full h-screen flex items-center justify-center bg-cover bg-center" 
       style="background-image: url('{% static 'image/bgg.png' %}'); filter: blur(5px); position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
    <!-- Blurred Background -->
  </div>
  
  <div class="w-full h-screen flex items-center justify-center relative">
    <h1 class="text-white text-6xl md:text-8xl font-bold text-center drop-shadow-lg">
      Welcome, {{ name }}!
    </h1>
  </div>

  <!-- Profile Card Section -->
  <div class="w-full max-w-lg mb-6 mt-8 z-10">
    {% include "card_info.html" with name=name class=class %}
  </div>

  <div class="px-3 mb-8 mt-4">
    <div class="flex rounded-md items-center bg-[#f7b733] py-2 px-4 w-fit">
      <h1 class="text-white text-center">Last Login: {{ last_login }}</h1>
    </div>
  </div>
  
  <div class="flex justify-end mb-6 w-full">
    <a href="{% url 'main:create_product' %}" class="bg-[#f7b733] hover:bg-[#f9b533] text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Product
    </a>
  </div>

  {% if not products %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'image/sedih.png' %}" alt="No Product" class="w-32 h-32 mb-4"/>
    <p class="text-center text-[#141850] mt-4">There is no product in Ice Creamy.</p>
  </div>
  {% else %}
  <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
    {% for product in products %}
      {% include 'card_product.html' with product=product %}
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
